@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://unpkg.com/clarity-icons/clarity-icons.min.css');

$background-color: #495772;
$page-color: #fff;
$text-color: #4c4e52;
$border-color: #747381;
$emphasis-color: #d4ded2;

@page {
    margin: 0;
    size: A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    * {
        font-size: 15px;
    }
}

@media screen and ( max-width: 820px ) {  
    * {
        font-size: 14px;
    }
}

@media screen and ( max-width: 550px ) {  
    * {
        font-size: 14px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $background-color;
    color: $text-color;
}

@media screen and (max-width: 1199px) {
    body {
        background-color: #fff;
    }
}

@media print {
    body {
        background-color: #fff;
    }
}

section {
    grid-column: span 12; 
}

p:not(:last-child) {
    margin-bottom: 0.8rem;
}

h1 {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    margin-right: -1.5rem; // fix the effect of letter spacing
    text-align: center;
}

h2 {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    margin-right: -.5rem; // fix the effect of letter spacing
    text-align: center;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

ul {
    list-style-position: inside;
}

.resume {
    width: 1200px;
    margin: 2rem auto;
    background: $page-color;
    padding: 6.5rem 5.8rem 4.5rem 5.8rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1199px) {
    .resume {
        width: 100vw;
        margin: 0;        
        border-radius: 0;
        box-shadow: none;
        padding: 4.4rem 2rem 2.5rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .resume {
        padding: 4.4rem 1.4rem 2.5rem 1.4rem;
    }
}

@media print {
    .resume {
        width: 1200px;
        margin: 0;        
        border-radius: none;
        box-shadow: none;
    }
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.4rem;

    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and ( max-width: 820px ) {  
    .row {
        grid-gap: 0;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span $i;     
    }

    @media screen and ( max-width: 820px ) {  
        .col-#{$i} {
            grid-column: span 12;     
        }
    }
}

.subtitle {
    display: inline-block;
    font-style: italic;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

.contact-item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    text-align: left;

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    & > div {
        word-break: break-word;
    }

    clr-icon {
        text-align: left;
        flex: 0 0 20px;
        margin-right: 0.7rem;
    }
}

.experience-item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &--body {
        border-right: 1px solid $border-color;
        padding-right: 1rem; 
        
        & > ul {
            list-style-position: outside;
            text-indent: 0;
            padding-left: 1.2rem;
            list-style-type: circle;
        
            & > li:not(:last-child) {
                margin-bottom: 0.3rem;
            }
        }
    }

    &--skills {
        flex: 0 0 170px; 
        padding-left: 1rem;  
    
        & > ul {
            list-style-type: none;
        }
    } 
}

@media screen and ( max-width: 550px ) {
    .experience-item {
        flex-direction: column;
        display: flex;
    
        &--body {
            border-right: 0;
            padding-bottom: 1rem;  
            padding-right: 0;
        }
    
        &--skills {
            width: 100%;
            padding: 0;
            flex: 0;

            & > ul {

                & > li {
                    padding: 0.5rem;
                    float: left;
                    border: solid .3rem #fff;
                    background-color: $emphasis-color;
                }
            }
        }    
    }
}

.contact-container {
    display: flex;
    flex-direction: column;    
    flex-flow: wrap;
}

@media screen and ( max-width: 820px ) {  
    #contact {
        order: 1;  
        border-bottom: 1px solid $border-color;
        margin-bottom: 2rem;
        padding-bottom: 2rem; 
    }

    #profile {
        order: 2;     
    }

    @media ( min-width: 551px ) {
        .contact-container {
            flex-direction: row;   
        }
    
        .contact-item {
            flex: 0 0 50%;
    
            &:nth-child(odd) {
                padding-right: 0.4rem;
            }
    
            &:nth-child(even) {
                padding-left: 0.4rem;
            }

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }
}